/* Estilos de bordas*/

#p1 {
	border-style: dashed; 
	border-color: #00FF7F ;
}
#p2 {
	border-style: double; 
	border-color: #98FB98 ;
}
#p3 {
	border-style: ridge;
	border-color:#90EE90;
}
#p4 {
	border-style: inset;
	border-color:#008000 ;
}
#p5 {
	border-style: groove; 
	border-color:#32CD32 ;
}
#p6 {
	border-style: dotted; 
	border-color:#7CFC00 ;
}
#p7 {
	border-style: outset; 
	border-color:#9ACD32 ;
}

/* Div com arrendondamento*/

#div1 {
	 width:  140px;
	 height: 140px;
	 border: solid;
	 border-radius: 20px;
}

/* Div com gradiente*/

#divGrad {
	 width:  140px;
	 height: 140px;
	 border: solid;
	 border-radius: 20px;
	 background-color: red;
	 background-image: linear-gradient(0deg, red, yellow);
}

/* Style para Botão*/

#btnBonito {
	background-color:  #8A2BE2;
	border:  none;
    color: white;
    padding:  15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.exColuna {
	column-count: 3;
	column-gap: 40px;
	column-rule: 3px solid lightblue;

}

#verde {
	 width: 140px;
	 height: 140px;
	 background-color: green;
	 transition: widht 2s, height 4s;
}

#verde:hover {
	 width: 300px;
	 height: 300px;

}


#anim {
	width:  140px;
	height:  140px;
	background-color: red;
	position: relative;
	animation-name: example;
	animation-duration: 4s;
}

@keyframes example {
	0% {background-color: red; left: 0px; top: 0px}
	25% {background-color: yellow; left: 0px; top: 0px}
	50% {background-color: blue; left: 0px; top: 0px}
	75% {background-color: green; left: 0px; top: 0px}
	100% {background-color: red; left: 0px; top: 0px}
}


/*TOOLTIP*/

.tooltip {
	      position: relative;
	      display: inline-block;
	      border-bottom: 1 px dotted black;
}	      

.tooltip .tooltiptext {
	visibility: hidden;     
	width: 120px;
	background-color: black;  
	color: #fff;  
	text-align: center;  
	border-radius: 6px;    
	padding: 5px 0;

	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext{
 visibility: visible; 

 }